/* Bootstrap Functions */
@import '~bootstrap/scss/functions';

/* Bootstrap Variables */
@import '~bootstrap/scss/variables';

/* Bootstrap Maps (WAJIB untuk utilities) */
@import '~bootstrap/scss/maps';

/* Bootstrap Mixins */
@import '~bootstrap/scss/mixins';

/* Bootstrap Utilities (WAJIB sebelum custom utilities) */
@import '~bootstrap/scss/utilities';

/* Framework SASS Variables */
@import 'abstracts/sass-variables';

/* Framework Mixins */
@import 'abstracts/mixins';

/* Framework Utilities */
@import 'utilities/utilities';

/* Bootstrap Core */
@import '~bootstrap/scss/bootstrap';

/* Sisanya tetap */
@import 'abstracts/css-vars';
@import 'base/base';
@import 'components/components';
@import 'vendors/vendors';
@import 'custom';
@import 'components/preloader';
@import 'components/skills';